<?xml version='1.0' encoding='utf-8'?>

<Context>

    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <Resource name="jdbc/soa"
       auth="Container"
       driverClassName="org.h2.Driver"
       maxActive="10"
       maxIdle="3"
       password=""
       type="javax.sql.DataSource"
       url="jdbc:h2:/soa/database;AUTO_SERVER=true"
       username="sa" />

</Context>
